@font-face {
    font-family: alte;
    src: url(../fonts/alte-haas-grotesk.regular.ttf);
}

body {
    background-color: black;
    color:aliceblue;
    font-family: alte;
}


#controls {
    width: 100%;
    margin-top:20px;
    background-color: #333;
    position: absolute;
    bottom: 0;
}

#page_wrapper {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-items: center;
}

#canvas_wrapper {
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    display: inline-block
}

#canvas {
    background: transparent;
    /*
    background-image: url('./img/coolguy_bg.png');
    margin-left: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     */
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10vh;
}

button, .button {
    background-color: #333;
    color: white;
    border: 1px solid #f3f3f3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 0px;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: #555;
    color:black;
}

.audio_controls {
    width: 100%;
    padding: 3px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    align-items: left;
}

.input_controls {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.input_box {
    background-color: #111;
    color:#dddddd;
    padding: 5px;
    margin: 3px;
}

.input_box label {
    color:#dddddd;
}


#show_controls_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    background-color: black;
    border: 1px solid #333;
    color: #444;
}

#show_controls_btn:hover {
    color: #a56011;
}

.cell {
    padding: 0px;
    margin: 0px;
}